numpy
pandas==2.3.3
pyarrow==18.1.0
polars==1.33.1
scipy==1.11.4
scikit-learn==1.7.2
joblib==1.4.2
threadpoolctl==3.5.0
catboost==1.2.8
lightgbm==4.6.0
matplotlib==3.8.4
seaborn==0.13.2
tqdm==4.67.1
pyyaml==6.0.2
jupyterlab==4.2.5
ipykernel==6.29.5
optuna==4.1.0
xgboost==2.1.4
dask~=2026.3.0
transformers
lightning
tensorboard
mpi4py
deepspeeed